$backgroundColor: 	#F5FFFA;
$cardColor: #fff;
$textColor: #343a40;
$boxShadowColor: #e9ecef;

.navbar {
  border-bottom: $boxShadowColor;
  background-color: $cardColor;
  padding: 10px;
}

.logout-btn {
  float: right;
}