$backgroundColor: #F5FFFA;
$cardColor: #fff;
$textColor: #393440;
$boxShadowColor: #e9ecef;

.movie-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 5px;
  background-color: $backgroundColor;
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 10px 5px 5px $boxShadowColor;
  background-color: $cardColor;
  max-width: 280px;
  width: 280px;
  margin: 15px;
  padding: 20px 3px;
  transition: all .2s ease-in-out;
}

.mat-card:hover {
  box-shadow: 15px 10px 10px 5px $boxShadowColor;
  transform: scale(1.1,1.1);
  z-index: 999;
}

.mat-card-header {
  height: 75px;
  display: flex;
  align-items: center;
  color: $textColor;
}

.movies-title {
  display: flex;
  max-width: 210px;
  justify-content: center;
  text-align: center;
  line-height:normal;
}

img {
  width: 250px;
  height: 350px;
  object-fit: contain;
}

.mat-icon-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.mat-button:hover, .mat-icon:hover {
  cursor: pointer;
}

mat-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  line-height: 1.2;
}
mat-icon:hover {
  color: #ff0000;
}
mat-icon:active {
  transform: scale(0.8);
}
